<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Semi Restful Users</title>
</head>
<body>
  <p>Index Page</p>
  <a href='users/new'>Add a new user</a>

  <h2>Users</h2>
  
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.first_name}} {{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.created_at}}</td>
      <td><a href='users/{{user.id}}'>Show</a> <a href='users/{{user.id}}/edit'>Edit</a> <a href='users/{{user.id}}/delete'>Delete</a> </td>
    </tr>
    {% endfor %}
  </table>

 
</body>
</html>