<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Page</title>
</head>
<body>
  <p>New.html Page</p>
  <p>Add a new user</p>
  <form action='/users/create' method='post'>
    {% csrf_token %}
    <p>First Name:<input type="text" name="first_name"></p>
    <p>Last Name:<input type="text" name="last_name"></p>
    <p>Email: <input type="text" name="email"></p>
    <input type="submit" value="Create">
  </form>
  <a href='/'>Go back</a>
</body>
</html>